<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLRKm8_2ZF1qTJd6PNdK3XI1fId6V3YVA</string>
	<key>GCM_SENDER_ID</key>
	<string>67942715516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unam.ProyectoVerde</string>
	<key>PROJECT_ID</key>
	<string>proyectoverde-50522</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoverde-50522.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67942715516:ios:1f3edf615a5f291be479f9</string>
</dict>
</plist>